<h1>새로운 post 작성</h1>
<form action="/posts/create">
    <div class="form-group row">
        <label for="example-text-input" class="col-form-label"><h3>제목</h3></label>
        <div class="col-8">
             <input class="form-control" type="text" id="example-text-input" name="input_title">
        </div>
    </div>
    <div class="form-group row">
       <label for="exampleTextarea"><h3>내용</h3></label>
        <div class="col-8">
             <textarea class="form-control" id="exampleTextarea" rows="3" name="input_content"></textarea>
        </div>
    </div>
    <input type="submit" class="btn btn-lg btn-primary">
</form>